@font-face {
    font-family: "NotoSansKR";
    font-weight: 100;
    src: url("/static/fonts/NotoSansKR/NotoSansKR-Thin.woff2") format("woff2"),
        url("/static/fonts/NotoSansKR/NotoSansKR-Thin.woff") format("woff"),
        url("/static/fonts/NotoSansKR/NotoSansKR-Thin.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 200;
    src: url("/static/fonts/NotoSansKR/NotoSansKR-Light.woff2") format("woff2"),
        url("/static/fonts/NotoSansKR/NotoSansKR-Light.woff") format("woff"),
        url("/static/fonts/NotoSansKR/NotoSansKR-Light.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 300;
    src: url("../static/fonts/NotoSansKR/NotoSansKR-DemiLight.woff2") format("woff2"),
        url("../static/fonts/NotoSansKR/NotoSansKR-DemiLight.woff") format("woff"),
        url("../static/fonts/NotoSansKR/NotoSansKR-DemiLight.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    src: url("../static/fonts/NotoSansKR/NotoSansKR-Regular.woff2") format("woff2"),
        url("../static/fonts/NotoSansKR/NotoSansKR-Regular.woff") format("woff"),
        url("../static/fonts/NotoSansKR/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    src: url("../static/fonts/NotoSansKR/NotoSansKR-Medium.woff2") format("woff2"),
        url("../static/fonts/NotoSansKR/NotoSansKR-Medium.woff") format("woff"),
        url("../static/fonts/NotoSansKR/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 600;
    src: url("../static/fonts/NotoSansKR/NotoSansKR-Medium.woff2") format("woff2"),
        url("../static/fonts/NotoSansKR/NotoSansKR-Medium.woff") format("woff"),
        url("../static/fonts/NotoSansKR/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    src: url("../static/fonts/NotoSansKR/NotoSansKR-Bold.woff2") format("woff2"),
        url("../static/fonts/NotoSansKR/NotoSansKR-Bold.woff") format("woff"),
        url("../static/fonts/NotoSansKR/NotoSansKR-Bold.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 800;
    src: url("../static/fonts/NotoSansKR/NotoSansKR-Black.woff2") format("woff2"),
        url("../static/fonts/NotoSansKR/NotoSansKR-Black.woff") format("woff"),
        url("../static/fonts/NotoSansKR/NotoSansKR-Black.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 900;
    src: url("../static/fonts/NotoSansKR/NotoSansKR-Black.woff2") format("woff2"),
        url("../static/fonts/NotoSansKR/NotoSansKR-Black.woff") format("woff"),
        url("../static/fonts/NotoSansKR/NotoSansKR-Black.otf") format("opentype");
}

.font-thin {
    font-weight: 100;
}

.font-extraLight {
    font-weight: 200;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-bold {
    font-weight: 600;
}

.font-extraBold {
    font-weight: 700;
}

.font-heavy {
    font-weight: 800;
}

.font-black {
    font-weight: 900;
}

* {
    font-family: "NotoSansKR", Arial, "Apple SD Gothic Neo", "애플 SD 고딕 Neo", "맑은 고딕", "Malgun Gothic", "굴림", Gulim, sans-serif;
}